/*body {
  margin: 0;
}*/

h1 {
  text-align: center;
  font-size: 3em;
}

.palette_container {

  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  background-color: black;
}

.palette {
  z-index: 0;
  position: relative;
  margin: 10px;
  width: 20%;
  height: 400px;
  background-color: pink;
  /*border-bottom-right-radius: 20%: */
}

.palette button {
  position: relative;
  top: 10px;
  left: 34%;
  width: 30%;
  z-index: 3;
}

.palette h2 {
  text-align: center;
  font-size: 4em;
  
  width: 100%;
}

.palette_generator {
  margin: 10px;
  position: relative;
  left: 38%;
  width: 300px;
  height: 60px;
}

.palette_name {
  margin: 10px;
  position: relative;
  left: 30%;
  width: 200px;
  height: 30px;
}

.save_project {
  height: 30px;
}

select {
  height: 30px;
  margin: 10px;
}

.project_info {
  position: relative;
  left: 17%;
}

.lock_btn {
  border-radius: 20%;
  height: 90px;
  background-image: url('../images/002-lock.png');
  background-size: cover;
  background-position: center; 
}

.locked {
  background-image: url('../images/001-tool.png');
  background-size: cover;
  background-position: center;
}

.handle {
  padding: 5px;
  position: absolute;
  top:  80%;
  right: 0;
  width: 100%;
  height: 500px;
  background-image: url('../images/handle.png');
  background-position: top;
  background-size: cover;
  border-top-style: 2px solid black; }