header {
  background-color: #232028;
}

h1 {
  padding: 10px;
  letter-spacing: 2px;
  margin: 0;
  color: #F4F4F6;
  text-align: center;
  font-size: 3em;
}

select {
    background-color: transparent;
    width: 20%;
    height: 37px;
    margin: 10px;
    margin-left: 20px;
    font-size: 1em;
}

button {
  font-size: 1em;
  outline: none;
  border: 2px solid black;
  color: black;
}

input {
  height: 30px;
  width: 300px;
  padding-left: 10px;
  font-size: 1em;
}

h3 {
  padding-top: 0.5em;
}

.palette_container {
  width: 100%;
  height: 100%;
  display: inline-flex;
  flex-direction: row;
  background-color: #232028;
  padding-bottom: 10px;
}

.palette {
  border-radius: 20px;
  margin: 10px;
  width: 20%;
  height: 400px;
  border: 6px solid  #F4F4F6;
}

.palette h2 {
  text-align: center;
  font-size: 3.7em;
  width: 100%;
}

.palette_generator {
  font-size: 2em;
  margin: 10px;
  position: relative;
  left: 38%;
  height: 60px;
}

.palette_name {
  margin: 10px;
  position: relative;
  left: 1%;
}

.save_palette {
  position: relative;
  top: 60px;
  right: 250px;
  height: 35px;
  font-size: 1em;
}

.project_info {
  width: 50%;
  text-align: center;
  margin: 10px;
  border-right: 2px solid black;
}

.lock_btn {
  width: 25%;
  position: relative;
  top: 10px;
  left: 34%;
  z-index: 3;
  outline: none;
  border-radius: 20%;
  height: 100px;
  width: 30%;
  background-color: #F4F4F6;
  background-image: url('../images/unlocked.png');
  background-size: cover;
  background-position: center; 
  padding: 5px;
}

.locked {
  background-image: url('../images/locked.png');
  background-size: cover;
  background-position: center;
}

/*.handle {
  padding: 5px;
  position: absolute;
  top:  80%;
  right: 0;
  width: 100%;
  height: 500px;
  background-image: url('../images/handle.png');
  background-position: top;
  background-size: cover;
  border-top-style: 2px solid black; 
}*/

.saved_projects {
  display: inline-flex;
  width: 100%;
  font-size: 1.5em;
}

.create_new-projects {
  width: 50%;
  margin: 10px;
  text-align: center;
}

.projects {
  text-align: left;
  display: block;
}

.mini-pallete {
  display: inline-block;
  margin: 20px;
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

.mini-pallete h4 {
  padding-top: 10px;
  text-align: center;
  font-size: 0.8em;
}

.select-label {
  position: relative;
  left: 1%;
}

